@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --text: #082032;
    --background: #ffffff;
    --primary: #082032;
    --secondary: #8fcadc;
    --accent: #e2ab24;
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

html {
    scroll-behavior: smooth;
  }
body {
    font-family: "Barlow", sans-serif;
    background-color: var(--background);
    line-height: 1.7;
}
main{
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--primary);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--primary);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--accent);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--accent) !important; 
}

.owl-dot.active span{
    background-color: var(--accent) !important;
}


 /* slide */
 .slide {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(imgs/bg_banner0.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}

/* navbar */
.top-nav {
    background-color: var(--secondary);
    color: var(--text);
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: var(--text);
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--accent);
}

.navbar .navbar-nav .nav-link {
    color: var(--primary);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--accent);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--accent);
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.navbar-brand {
    color: var(--primary);
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--primary);
    background-color: var(--primary);
    color: #fff;
}

.btn-brand:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: #fff;
}

.intro {margin-bottom: 36px;
text-align: center;
}

.intro p {
    max-width: 500px;
}
.intro h6{
    color: var(--accent);
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}
#about img{
    border-radius: 25px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#milestone {
    background: linear-gradient(rgba(226, 171, 36, 0.85), rgba(226, 171, 36, 0.95)), url(imgs/bg_banner1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h2,
#milestone p {
    color: var(--background);
}

.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
    color: var(--text);
    border-radius: 20px;
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}
.icon-service{
    color: var(--accent);
}

#reviews {
    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(imgs/bg_banner2.webp), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--accent);
}

.review .stars {
    color: var(--accent);
}
.icon-user{
    color: var(--background);
    font-size: 20px;
}

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(imgs/bg_banner1.), var(--primary);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: var(--background);
}

footer p {
    color: var(--background);
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--accent);
}